<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/topNode.css">
    <link rel="stylesheet" type="text/css" href="css/topBanner.css">
    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <link rel="stylesheet" type="text/css" href="css/openContent.css">
    <link rel="stylesheet" type="text/css" href="css/live.css">
    <link rel="stylesheet" type="text/css" href="css/system.css">
    <link rel="stylesheet" type="text/css" href="css/technology.css">
    <link rel="stylesheet" type="text/css" href="css/web.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/link.css">
</head>
<body>
<div id="app">
    <!-- topNode -->
    <div class='topNode-copy'></div>
    <div class="topNode">
        <div class="topNodeContent">
            <a href="#" class="logo">
                <img src="image/logo.gif" alt="">
            </a>
            <!--  搜索节点 -->
            <div class='searchNode'>
                <div class='searchNodeLeft'>
                    <span class='searchNodeLeftText'>课程</span>
                    <ul class='searchNodeLeft-ul'>
                        <li class='active'>课程</li>
                        <li>网校</li>
                    </ul>
                </div>
                <input type="" name="" class='searchNodeInput' placeholder="零基础学JavaScript">
                <a class='searchNodeRight' href="#">搜索</a>
                <ol class='searchNode-ol'>
                    <li class='first'>热门搜索</li>
                </ol>
            </div>
            <ul class="bannerTop">
                <li class='downloadApp'>
                    <span>下载APP</span>
                    <div class='line-node'></div>
                    <div class='downloadApp-show'>
                        <div class='downloadApp-jt'></div>
                        <div class='downloadApp-show-left'>
                            <img src="image/ewm-t-l.gif">
                        </div>
                        <p class='downloadApp-show-text'>扫码下载官方App</p>
                        <a href="#"><img src="image/show-app.gif"></a>
                        <a href="#"><img src="image/show-app.gif"></a>
                        <!-- <a href="#"><img src="image/show-ad.gif"></a> -->
                    </div>
                </li>
                <li class='see'>
                    <span>关注领福利</span>
                    <div class='line-node'></div>
                    <div class='see-show'>
                        <div class='see-show-jt'></div>
                        <p class='see-show-text'>关注云课堂官方微信号</p>
                        <p class='see-show-title'>-领取课程免费福利，超值学习资料-</p>
                        <img class='see-show-img' src="image/ewm-t.gif">
                    </div>
                </li>
                <li>
                    <span>会员中心</span>
                    <div class="line-node"></div>
                </li>
                <li class="line"></li>
                <li><span>管理后台</span></li>
                <li class="bannerTop-my">
                    <span>我的学习</span>
                    <div class="bannerTop-my-content">
                        <div class="user-jt"></div>
                        <div class="bannerTop-my-content-top">最近学习的课程</div>
                        <ul class="bannerTop-my-content-ul">
                            <li v-for="item in myStudy">
                                <a href="#">
                                    <div class='bannerTop-my-content-ul-li-left-node'>
                                        <img :src="item.img">
                                    </div>
                                    <p class='bannerTop-my-content-ul-li-right-name'>{{item.name}}</p>
                                    <p class='bannerTop-my-content-ul-li-right-now'>{{item.nowStufy}}</p>
                                </a>
                            </li>
                        </ul>
                        <a class='bannerTop-my-content-more'>查看更多></a>
                    </div>
                </li>
                <li class='bell'></li>
                <li class='shoppingCart'></li>
                <li class='line'></li>
            </ul>
            <div class="user">
                <span>李游Leo</span>
                <img class='user-image' width="34" height="34" src="image/F07F9E9C63CDA35AB0E00DA054402EC2.png">
                <ul class='user-ul'>
                    <li class='border-bottom-li'><a href="#">正使用手机账号登陆</a></li>
                    <li><a href="#"><span class='user-li-span-l'>我的优惠卷</span> <span
                            class='user-li-span-r'>兑换</span></a>
                    </li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">帮助与反馈</a></li>
                    <li class='border-bottom-li'><a href="#">设置</a></li>
                    <li><a href="#">退出</a></li>
                    <div class='user-jt'></div>
                </ul>
                </ul>
            </div>
        </div>
    </div>

    <!-- topBanner -->
    <ul class='topBanner' id='topBanner'>
        <li v-for="item in bannerList">
            <a href="#" class="banner-a">{{item.name}}</a>
            <div class='greenLine'></div>
            <ol class='active-ol' v-for="item1 in item.type">
                <li><a href="#">公办软件</a></li>
                <li><a href="#">效率工具</a></li>
                <li><a href="#">求职准备</a></li>
                <li><a href="#">个人提升</a></li>
                <li><a href="#">职场能力</a></li>
                <li><a href="#">商业管理</a></li>
                <li><a href="#">专业岗位</a></li>
                <li><a href="#">电脑基础</a></li>
            </ol>
        </li>
        <li class='right'>
            <a href="#">
                <img src="image/pointer.gif">
            </a>
            <ol class='right-ol'>
                <li v-for="item in ['电商运行','职业考试','语言学习']">
                    <a href="#">{{item}}</a>
                    <div class='lineRight'></div>
                </li>
            </ol>
        </li>
    </ul>

    <!-- silder-content 轮播图-->
    <div class='silder-content'>
        <div class='silder-content-outerNode'>
            <ul class='silder-content-UlNode'>
                <li class='active'><img src="image/4de5a95b9c0a458c9c4f5595b0d12183.png"></li>
                <li><img src="image/6ca7db807c3f448fa19039cae380ffb7.jpg"></li>
                <li><img src="image/9da551a2ceee48fcae68db05b562cff1.jpg"></li>
                <li><img src="image/a17ddac75cc944b9b0f5204156e2afa6.png"></li>
                <li><img src="image/19055192bca54c5ea9622d8f672fd8e1.png"></li>
                <li><img src="image/81f375340e0c48b7a4d1b9c853eab8ce.png"></li>
                <li><img src="image/79b6a4b0bd644681b1d2a5ec3c10da65.jpg"></li>
            </ul>
            <ol class='silder-content-button'>
                <li class='first active'><a href="#">专题特惠：前端零基础全栈之旅</a></li>
                <li><a href="#">0元领取：站酷大神带你入门UI</a></li>
                <li><a href="#">高效提升：3节课练就口语技能</a></li>
                <li><a href="#">限时免费：如何获取稳定投资收益</a></li>
                <li><a href="#">金融思维：25个经典案例解析</a></li>
                <li><a href="#">免费试听：清华大神教你Python</a></li>
                <li><a href="#">新课特惠：网课变现全流程进阶课</a></li>
            </ol>
        </div>
    </div>

    <!-- open-content 名师公开课-->
    <div class='open-content'>
        <div class='card-left'></div>
        <div class='card-right'></div>
        <h2>名师公开课</h2>
        <a href="#" class='more'>更多</a>
        <div class='open-content-slider'>
            <ul class="open-content-slider-card">
                <li v-for="item in openContent">
                    <a href="#">
                        <div class='card-user'>
                            <img src="image/user.png">
                        </div>
                        <div class='time'>{{item.time}}</div>
                        <div class='content'>{{item.title}}</div>
                        <div class='user-name'>
                            <span class='title-user'>{{item.author}}</span>
                            <div class='title-box'>{{item.authorSub}}</div>
                        </div>
                        <div class='bottom-title'>{{item.type}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- live 课堂直播-->
    <div class='open-content live'>
        <h2>课堂直播</h2>
        <a href="#" class='more'>更多</a>
        <ul class='live-model'>
            <li v-for="item in liveList">
                <a href="#">
                    <div class='teacher-pic'>
                        <img src="image/6002D19DCC07E048FBDE4C84D276EB46.jpg">
                    </div>
                    <div class='time'>
                        <span class='live-l'>{{item.time}}</span> <span class="g">开启提醒</span>
                    </div>
                    <div class='live-name'>{{item.title}}</div>
                    <div class='live-teacher-name'>
                        <span>{{item.author}}</span>
                        <span>{{item.authorSub}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- system 系统化学习路径-->
    <div class='system'>
        <h2>系统化学习路径</h2><span class='system-title'>网易云课堂六大课程体系，让学习有章有序</span>
        <ul class='system-ul'>
            <li><a href="#"><img src="image/b8cbbde8bc98409aad5227fde070df7d.png"></a></li>
            <li><a href="#"><img src="image/29696616fe6e495a9b191244f2bd0bea.png"></a></li>
            <li><a href="#"><img src="image/9957cb6a888e40f08c36ce6a96804d32.png"></a></li>
            <li><a href="#"><img src="image/7594f6916fc94a16af474856d1de8786.png"></a></li>
            <li><a href="#"><img src="image/96ee5f4a9b954c1991b17ca577aaa00a.png"></a></li>
            <li class='no'><a href="#"><img src="image/9c3adc02cea44377a91c6716201bbe4c.png"></a></li>
        </ul>
    </div>

    <!-- technology 微专业模块 -->
    <div class='open-content technology'>
        <h2>微专业</h2>
        <a href="#" class='more'>更多</a>
        <ul class='technology-ul'>
            <li v-for="item in techList">
                <a href="#">
                    <div class='technology-ul-outer'><img src="image/wzy-1.gif" class='technology-image'></div>
                    <div class='technology-content'>
                        <div class='technology-content-name'>{{item.title}}</div>
                        <div class='technology-content-title'>{{item.desc}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- 后端开发模块-->
    <div class='system seckill web-model'>
        <h2>后端开发</h2>
        <ul class='seckill-tab-content-ul'>
            <li v-for="item in contentList">
                <a href="#">
                    <div class='seckill-tab-content-ul-outer'><img src="image/web-leo.gif"></div>
                    <div class='seckill-tab-content-ul-name'>{{item.title}}</div>
                    <div class='seckill-tab-content-ul-user'>{{item.name}}</div>
                </a>
            </li>
        </ul>
    </div>

    <!-- 广告模块 advertisement -->
    <div class='advertisement'>
        <a href="#" class='advertisement-l'>
            <img src="image/9b393ab0b939453895a203bc0b7d1c30.jpg">
        </a>
        <a href="#" class='advertisement-r'>
            <img src="image/454d20a5bcf34163b0148ecc79ec2ef1.jpg">
        </a>
    </div>

    <!-- 尾部模块 footer-->
    <div class='footer'>
        <div class="footer-content">
            <div class='footer-content-l'>
                <p class='footer-content-l-text'>网易云课堂 是网易公司（163.com）旗下专注职业技能提升的在线学习平台。</p>
                <ul class='footer-content-l-ul'>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">中国大学MOOC</a></li>
                    <li><a href="#">网易卡搭编程</a></li>
                    <li><a href="#">极客战记</a></li>
                    <li><a href="#">有道智云</a></li>
                </ul>
                <p class='footer-content-l-last-text'>
                    <span>©1997-2020 网易公司 版权所有</span><span>粤B2-20090191-18</span> <a
                        href="#">工业和信息化部备案管理系统网站</a>
                </p>
            </div>
            <div class='footer-content-r'>
                <div class='footer-content-r-download'>
                    <a href="#"><img src="image/app-download.gif"></a>
                    <a href="#" class='no'><img src="image/ad-download.gif"></a>
                </div>
                <div class='footer-content-r-app'>
                    <span>关注我们:</span>
                    <a href="#" class='footer-content-r-app-wx'>
                        <img src="image/wx.gif">
                        <div class='footer-content-r-app-show'>
                            <div class='footer-content-r-app-show-sc'></div>
                            <div class='footer-content-r-app-show-text'>关注云课堂官方微信号</div>
                            <div class='footer-content-r-app-show-title'>-领取课程免费福利，超值学习资料-</div>
                        </div>
                    </a>
                    <a href="#" class="no"><img src="image/sina.gif"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- window-show 右侧广告窗-->
    <div class='window-show'>
        <a href="#" class='window-show-top'><img src="image/sjfxs.png"></a>
        <ul class='window-show-ul'>
            <li class='window-show-ul-text show-m'>
                <div class='window-show-ul-text-name'>在线咨询</div>
            </li>
            <li class='window-show-ul-line'>
                <div class='line'></div>
            </li>
            <li class='window-show-ul-text show-mobile'>
                <div class='window-show-ul-text-name'>手机课堂</div>
                <div class='show-alert'>
                    <div class='show-alert-jt'></div>
                    <div class='show-alert-node'>
                        <img src="image/ewm-l.png">
                        <p>下载APP</p>
                    </div>
                    <div class='show-alert-node ml15'>
                        <img src="image/ewm-r.png">
                        <p>关注微信</p>
                    </div>
                </div>

            </li>
            <li class='window-show-ul-line'>
                <div class='line'></div>
            </li>
            <li class='window-show-ul-text show-t'>
                <div class='window-show-ul-text-name'>返回顶部</div>
            </li>
        </ul>
    </div>

</div>
<script src="./js/vue2.6.0.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            myStudy: [
                {
                    "name": "前端工程师就业班",
                    "img": "image/k-1.png",
                    "nowStufy": "放大与缩小"
                }, {
                    "name": "Web前端，从零基础到全栈工程师",
                    "img": "image/k-2.png",
                    "nowStufy": ""
                }, {
                    "name": "前端小白面试指南",
                    "img": "image/k-3.png",
                    "nowStufy": ""
                }, {
                    "name": "李游Leo - WEB前端公开课",
                    "img": "image/k-4.png",
                    "nowStufy": ""
                }, {
                    "name": "JavaScript - 移动端开发经典教程",
                    "img": "image/k-5.png",
                    "nowStufy": ""
                }],
            bannerList: [
                {
                    name: "首页",
                },
                {
                    name: "实用英语",
                },
                {
                    name: "兴趣技能",
                },
                {
                    name: "职场提升",
                    type: [
                        {
                            "id": "1",
                            "name": "办公软件"
                        },
                        {
                            "id": "2",
                            "name": "效率工具"
                        },
                        {
                            "id": "3",
                            "name": "求值准备",
                        },
                        {
                            "id": "4",
                            "name": "个人提升"
                        },
                        {
                            "id": "5",
                            "name": "职场能力"

                        },
                        {
                            "id": "6",
                            "name": "商业管理"
                        },
                        {
                            "id": "7",
                            "name": "专业管理",
                        },
                        {
                            "id": "8",
                            "name": "电脑基础"
                        }
                    ]
                },
                {
                    name: "编程与开发",
                    type: [
                        {
                            "id": "1",
                            "name": "编程语言"
                        },
                        {
                            "id": "2",
                            "name": "前端开发"
                        },
                        {
                            "id": "3",
                            "name": "后端开发",
                        },
                        {
                            "id": "4",
                            "name": "移动开发"
                        },
                        {
                            "id": "5",
                            "name": "网络与安全"
                        }]
                },
                {
                    name: "AI/数据科学",
                    type: [
                        {
                            "id": "1",
                            "name": "编程语言"
                        },
                        {
                            "id": "2",
                            "name": "前端开发"
                        },
                        {
                            "id": "3",
                            "name": "后端开发",
                        },
                        {
                            "id": "4",
                            "name": "移动开发"
                        },
                        {
                            "id": "5",
                            "name": "网络与安全"
                        }]
                }, {
                    name: "生活与兴趣",
                    type: [
                        {
                            "id": "1",
                            "name": "编程语言"
                        },
                        {
                            "id": "2",
                            "name": "前端开发"
                        },
                        {
                            "id": "3",
                            "name": "后端开发",
                        },
                        {
                            "id": "4",
                            "name": "移动开发"
                        },
                        {
                            "id": "5",
                            "name": "网络与安全"
                        }]
                }, {
                    name: "创意与设计",
                    type: [
                        {
                            "id": "1",
                            "name": "编程语言"
                        },
                        {
                            "id": "2",
                            "name": "前端开发"
                        },
                        {
                            "id": "3",
                            "name": "后端开发",
                        },
                        {
                            "id": "4",
                            "name": "移动开发"
                        },
                        {
                            "id": "5",
                            "name": "网络与安全"
                        }]
                }
            ],
            openContent: [
                {
                    time: "12月21日 20:00",
                    title: "零基础轻松学Python",
                    author: "毕滢",
                    authorSub: "清华码神",
                    type: "编程小白的Python入门课"
                },
                {
                    time: "12月21日 20:00",
                    title: "零基础轻松学Python",
                    author: "毕滢",
                    authorSub: "清华码神",
                    type: "编程小白的Python入门课"
                },
                {
                    time: "12月21日 20:00",
                    title: "零基础轻松学Python",
                    author: "毕滢",
                    authorSub: "清华码神",
                    type: "编程小白的Python入门课"
                },
                {
                    time: "12月21日 20:00",
                    title: "零基础轻松学Python",
                    author: "毕滢",
                    authorSub: "清华码神",
                    type: "编程小白的Python入门课"
                },
                {
                    time: "12月21日 20:00",
                    title: "零基础轻松学Python",
                    author: "毕滢",
                    authorSub: "清华码神",
                    type: "编程小白的Python入门课"
                }
            ],
            liveList: [
                {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                },
                {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                },
                {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                },
                {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                }, {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                }, {
                    time: "今天 20:00",
                    title: "1节课教你：如何用Python快速选择优质股票11",
                    author: "王冕",
                    authorSub: "网易特邀数据架构专家讲师",
                },


            ],
            techList: [
                {
                    title: "UI设计师",
                    desc: "打通全链路，成为独当一面的核心设计师"
                },
                {
                    title: "数据分析-高薪全能班",
                    desc: "21周高效掌握数据精英必备技能"
                },
                {
                    title: "高级前端开发工程师",
                    desc: "构建一线互联网企业Web前端全栈知识体系"
                },
                {
                    title: "Java高级架构师",
                    desc: "精通JAVA/高并发/微服务/分布式/中间件"
                },
            ],
            contentList: [
                {
                    title: "Web前端,从零基础到全栈工程师",
                    name: "李游Leo"
                },
                {
                    title: "Node.js全栈开发之路",
                    name: "IT老兵"
                },
                {
                    title: "Web前端,从零基础到全栈工程师",
                    name: "李游Leo"
                },
                {
                    title: "Web前端,从零基础到全栈工程师",
                    name: "李游Leo"
                },
                {
                    title: "Web前端,从零基础到全栈工程师",
                    name: "李游Leo"
                }
            ]
        },
        mounted() {
            this.downloadTouch();
            this.myTouch();
            this.userImageTouch();
            this.searchEvent();
            this.slider();
            this.openShow();
            this.bannerShow();
            this.windowScroll()
        },
        methods: {
            // 下载按钮触摸事件
            downloadTouch() {
                var downloadAppBtn = document.getElementsByClassName('downloadApp')[0];
                var downloadAppShow = document.getElementsByClassName('downloadApp-show')[0];
                var timer = null;


                downloadAppBtn.onmouseover = function () {
                    clearTimeout(timer);
                    if (downloadAppShow.style.display == 'block') return;
                    downloadAppShow.style.display = 'block';
                    downloadAppShow.style.display = 'block';
                    downloadAppShow.style.transform = 'scale(0.9)';
                    downloadAppShow.style.transition = '0.17s';
                    setTimeout(function () {
                        downloadAppShow.style.transform = 'scale(1)';
                    }, 0);
                };

                downloadAppBtn.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        downloadAppShow.style.display = 'none';
                    }, 0);
                };

                downloadAppShow.onmouseover = function () {
                    clearTimeout(timer);
                };
                downloadAppShow.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        downloadAppShow.style.display = 'none';
                    }, 0);
                };
            },
            //我的学习触碰事件
            myTouch() {
                var myButton = document.getElementsByClassName('bannerTop-my')[0];
                var myContent = document.getElementsByClassName('bannerTop-my-content')[0];
                var timer = null;

                myButton.onmouseover = function () {
                    clearTimeout(timer);
                    if (myContent.style.display == 'block') return;
                    myContent.style.display = 'block';
                    myContent.style.display = 'block';
                    myContent.style.transform = 'scale(0.9)';
                    myContent.style.transition = '0.17s';
                    setTimeout(function () {
                        myContent.style.transform = 'scale(1)';
                    }, 0);
                };

                myButton.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        myContent.style.display = 'none';
                    }, 100);
                };

                myContent.onmouseover = function () {
                    clearTimeout(timer);
                };
                myContent.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        myContent.style.display = 'none';
                    }, 100);
                };
            },
            // 用户头像触摸事件
            userImageTouch() {
                var userImage = document.getElementsByClassName('user-image')[0];
                var userUl = document.getElementsByClassName('user-ul')[0];
                var myContent = document.getElementsByClassName('bannerTop-my-content')[0];
                var timer = null;

                userImage.onmouseover = function () {
                    clearTimeout(timer);
                    if (userUl.style.display == 'block') return;
                    myContent.style.display = 'none';
                    userUl.style.display = 'block';
                    userUl.style.transform = 'scale(0.9)';
                    userUl.style.transition = '0.17s';
                    setTimeout(function () {
                        userUl.style.transform = 'scale(1)';
                    }, 0);
                }
                userImage.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        userUl.style.display = 'none';
                    }, 300);
                };

                userUl.onmouseover = function () {
                    clearTimeout(timer);
                };
                userUl.onmouseout = function () {
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        userUl.style.display = 'none';
                    }, 300);
                };
            },
            //搜索框事件
            searchEvent() {
                var searchLeftChangeButton = document.getElementsByClassName('searchNodeLeft')[0];
                var searchLeftUl = document.getElementsByClassName('searchNodeLeft-ul')[0];
                var searchLeftUlAllNode = searchLeftUl.children;
                var searchShowOl = document.getElementsByClassName('searchNode-ol')[0];
                var searchInput = document.getElementsByClassName('searchNodeInput')[0];
                var searchNodeLeftText = document.getElementsByClassName('searchNodeLeftText')[0];
                var searchShowOlAllNode = searchShowOl.children;
                var context = {
                    'k': ['摄影', '产品可视化', 'AI必学-Tensorflow', '产品经理', 'AE'],
                    'w': ['城市', '滨州医学院', '51', 'edufancy', '北京理工大学']
                };


                window.onclick = function () {
                    searchShowOl.style.display = 'none';
                }
                ToOlContent('k');

                function ToOlContent(text) {

                    var searchShowOlAllNode = searchShowOl.children;
                    searchShowOl.innerHTML = "<li class='first'>热门搜索</li>"
                    searchShowOlAllNode[0].onclick = function () {
                        event.cancelBubble = true;
                    };
                    for (var i = 0; i < context[text].length; i++) {
                        var oLi = document.createElement('li');
                        oLi.innerHTML = '<a href="#">' + context[text][i] + '</a>';
                        searchShowOl.appendChild(oLi);
                    }
                    for (var i = 1; i < searchShowOlAllNode.length; i++) {
                        searchShowOlAllNode[i].onclick = function () {
                            event.cancelBubble = true;
                            searchShowOl.style.display = 'none';

                        }
                    }
                }


                for (var i = 0; i < searchLeftUlAllNode.length; i++) {
                    searchLeftUlAllNode[i].onclick = function () {
                        event.cancelBubble = true;
                        for (var i = 0; i < searchLeftUlAllNode.length; i++) {
                            searchLeftUlAllNode[i].className = '';
                        }
                        ;
                        searchNodeLeftText.innerHTML = this.innerHTML;
                        this.className = 'active';
                        searchLeftUl.style.display = 'none';
                        OlShow();

                        if (this.innerHTML == '网校') {
                            searchInput.placeholder = '搜索网校';
                            ToOlContent('w')
                        } else {
                            searchInput.placeholder = '零基础学JavaScript';
                            ToOlContent('k')
                        }
                    };
                }
                ;

                searchLeftChangeButton.onmouseover = function () {
                    //console.log(event.target.nodeName);
                    if (event.target.nodeName == 'DIV' || event.target.nodeName == 'SPAN') {
                        searchLeftChangeButton.className = 'searchNodeLeft active';
                    } else {
                        searchLeftChangeButton.className = 'searchNodeLeft';
                    }
                };
                searchLeftChangeButton.onmouseout = function () {
                    searchLeftChangeButton.className = 'searchNodeLeft';
                }

                function OlShow() {
                    searchShowOl.style.transition = '0.7s';
                    searchShowOl.style.opacity = '0';
                    searchShowOl.style.display = 'block';
                    setTimeout(function () {
                        searchShowOl.style.opacity = '1';
                    }, 0);
                }

                searchInput.onclick = function () {
                    event.cancelBubble = true;
                    OlShow();
                }
                //searchInput.onfocus = OlShow;

                searchLeftChangeButton.onmouseenter = function () {
                    searchLeftUl.style.display = 'block';
                    searchShowOl.style.display = 'none';
                };

                searchLeftChangeButton.onmouseleave = function () {
                    searchLeftUl.style.display = 'none';
                };

            },
            slider() {
                var timer = null;
                var num = 0;
                var setInterSlider = null;
                var allSilderButton = document.getElementsByClassName('silder-content-button')[0];
                var allSliderContent = document.getElementsByClassName('silder-content-UlNode')[0].children;
                var allLi = allSilderButton.children;
                var silderContentNode = document.getElementsByClassName('silder-content')[0];
                var colorArr = ['#5a73c6', '#f5a52c', '#f9a916', '#f64b3a', '#283042', '#0096ee', '#2b409b'];
                allSliderContent[0].style.opacity = 1;
                for (var i = 0; i < allLi.length; i++) {
                    allLi[i].index = i;
                    allLi[i].onmouseover = function () {

                        clearInterval(timer);
                        timer = setTimeout(function () {
                            move(this);
                            go();

                        }.bind(this), 500)
                    }
                }

                function move(_this) {
                    num = _this.index;
                    for (var i = 0; i < allLi.length; i++) {
                        allSliderContent[i].className = '';
                        allSliderContent[i].style.opacity = 0;
                        if (allLi[i].className.indexOf('first') != -1) {
                            allLi[i].className = 'first';
                        } else {
                            allLi[i].className = '';
                        }
                    }

                    allSliderContent[_this.index].className = 'active';
                    setTimeout(function () {
                        allSliderContent[this.index].style.opacity = '1';
                    }.bind(_this), 0);
                    _this.className += ' active';
                    silderContentNode.style.backgroundColor = colorArr[_this.index];
                };


                go();

                function go() {
                    clearInterval(setInterSlider);
                    setInterSlider = setInterval(function () {
                        num++;
                        if (num == allLi.length) num = 0;
                        for (var i = 0; i < allLi.length; i++) {
                            allSliderContent[i].className = '';
                            allSliderContent[i].style.opacity = 0;
                            if (allLi[i].className.indexOf('first') != -1) {
                                allLi[i].className = 'first';
                            } else {
                                allLi[i].className = '';
                            }
                        }

                        allSliderContent[num].className = 'active';
                        setTimeout(function () {
                            allSliderContent[num].style.opacity = '1';
                        }, 0);
                        allLi[num].className += ' active';
                        silderContentNode.style.backgroundColor = colorArr[num];
                    }, 5000);
                }
            },
            openShow() {
                var leftBtn = document.getElementsByClassName('card-left')[0];
                var rightBtn = document.getElementsByClassName('card-right')[0];
                var openUl = document.getElementsByClassName('open-content-slider-card')[0];
                rightBtn.style.display = 'none';

                leftBtn.onclick = function () {
                    this.style.display = 'none';
                    rightBtn.style.display = 'block';
                    openUl.style.left = '-368px';
                };

                rightBtn.onclick = function () {
                    this.style.display = 'none';
                    leftBtn.style.display = 'block';
                    openUl.style.left = '10px';
                };
            },
            // 导航栏的下拉事件
            bannerShow() {
                var allLi = document.getElementsByClassName('banner-a');
                var allshowOl = document.getElementsByClassName('active-ol');
                var rightOl = document.getElementsByClassName('right-ol')[0];
                for (var i = 0; i < allLi.length; i++) {
                    allLi[i].onmouseover = function () {
                        for (var i = 0; i < allshowOl.length; i++) {
                            allshowOl[i].style.display = 'none';
                        }
                        if (this.parentNode.getElementsByClassName('active-ol')[0]) {
                            this.parentNode.getElementsByClassName('active-ol')[0].style.display = 'block';
                        }

                    }
                }

                topBanner.onmouseleave = function () {
                    for (var i = 0; i < allshowOl.length; i++) {
                        allshowOl[i].style.display = 'none';
                    }
                };

                rightOl.onmouseenter = function () {
                    for (var i = 0; i < allshowOl.length; i++) {
                        allshowOl[i].style.display = 'none';
                    }
                };

            },
            windowScroll() {
                var topNode = document.getElementsByClassName('topNode')[0];
                var topNodeCopy = document.getElementsByClassName('topNode-copy')[0];
                var windowShow = document.getElementsByClassName('window-show')[0];
                var showT = document.getElementsByClassName('show-t')[0];
                var timer = null;
                window.onscroll = function () {

                    if (document.documentElement.scrollTop >= 1) {
                        windowShow.style.display = 'block';
                    } else {
                        windowShow.style.display = 'none';
                    }

                    if (document.documentElement.scrollTop >= 550) {
                        topNode.style.position = 'fixed';
                        topNodeCopy.style.display = 'block';
                    } else {
                        topNode.style.position = 'relative';
                        topNodeCopy.style.display = 'none';
                    }
                    //console.log(document.documentElement.scrollTop)
                };

                showT.onclick = function () {
                    clearInterval(timer);
                    timer = setInterval(function () {
                        if (document.documentElement.scrollTop <= 0) {
                            clearInterval(timer);
                            return;
                        }
                        document.documentElement.scrollTop = document.documentElement.scrollTop - 100 < 0 ? 0 : document.documentElement.scrollTop - 100;
                    }, 0);
                };
            }
        }
    })
</script>
</body>
</html>
